<label for="count">Count</label>
<input type="text" name="count" id="count" #count>
<button (click)="onAdd(count.value)">Add</button>
<button (click)="onClear()">Clear</button>
<button (click)="onModify()">Modify</button>

<p>{{myList.length}} displayed</p>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Years</th>
    <th>Proficiency</th>
    <th>County</th>
    <th>Continent</th>
    <th>Language</th>
    <th>Mobile</th>
    <th>Landline</th>
  </tr>
  <tr *ngFor="let person of myList">
    <td>{{person.id}}</td>
    <td>{{person.name}}</td>
    <td>{{person.address}}</td>
    <td>{{person.years}}</td>
    <td>{{person.proficiency}}</td>
    <td>{{person.country.country}}</td>
    <td>{{person.country.continent}}</td>
    <td>{{person.country.language}}</td>
    <td>{{person.mobile}}</td>
    <td>{{person.landline}}</td>
  </tr>
</table>
